
/* stops the main body responding to mousewheel */
body.modal-open {
    overflow: hidden;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gallery-header-n-subtext {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-thumbnail-container-layer-wrapper {
    position: relative;
    margin-top: 50px;
}

.gallery-thumbnail-container-layer1 {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
}

.gallery-thumbnail-container-layer2 {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 1200px;

    margin: 50px;

    margin-left: auto;
    margin-right: auto;
}

.gallery-thumbnail {
    background-color: white;
    width: 270px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-thumbnail.is-hovered {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.gallery-thumbnail-image-container {
    /* background-color: blue; */
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.gallery-card-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

}

.gallery-thumbnail-badge-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    /* background-color: yellow; */
}

/* @font-face {
    font-family: 'Hanken Grotesk';
    src: url(fonts/HankenGrotesk-Regular.ttf) format('truetype');
    font-style: normal;
} */


.thumbnail-badge {
    width: fit-content;
    margin-top: auto;
    padding: 0.25rem 0.5rem;
    margin-left: 20px;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05rem;
    color: rgba(0, 0, 0, 0.75);
    font-size: small;

    /* default */
    background-color: var(--theme-color);
}

.gallery-thumbnail-title-container {
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
}

.thumbnail-title {
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-family: 'Hanken Grotesk';
    letter-spacing: 0.05rem;
}

.gallery-thumbnail-cta-container {
    width: 100%;
    height: 60px;
}

.thumbnail-cta {
    width: 100%;
    height: 100%;
    /* padding-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk';

    /* font-weight: bold; */
    letter-spacing: 0.1rem;
}

/* When gallery thumbnail is-hovered child elements behavior style */
.gallery-thumbnail.is-hovered .gallery-thumbnail-cta-container {
    background-color: var(--theme-color);
    font-weight: bold;
    transition: color 0.3s ease, font-size 0.3s ease, text-transform 0.3s ease;
    font-size: 20px;
    text-transform: uppercase;
}

.gallery-thumbnail.is-hovered .thumbnail-cta {
    animation: cta-bob-up-and-down 1.4s ease-in-out infinite;
}

.gallery-thumbnail.is-hovered .gallery-thumbnail-title-container h3 {
    color: color-mix(in srgb, var(--theme-color), #000000 25%);
}

@keyframes cta-bob-up-and-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Popup */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.popup-overlay.is-active {
    display: flex;
}

.popup-card {
    position: relative;
    width: 780px;
    height: 90vh;
    border-radius: 0.75rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Hanken Grotesk';
}

.close-btn {
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.close-btn svg path {
    transition: fill 0.2s ease;
}

.close-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.close-btn:hover svg path {
    fill: #000000;
}

.popup-card:has(.close-btn:hover) .popup-banner-layer2 {
    background-color: rgba(0, 0, 0, 0.7);
}

/* .close-btn:hover .popup-banner-layer2 {
    background-color: rgba(0, 0, 0, 0.7);
} */

.popup-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* height: 400px; */
    height: 35vh;
    flex-shrink: 0;
}

.popup-banner-layer1 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-banner-layer1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-banner-layer2 {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s ease;
}

.popup-banner:hover .popup-banner-layer2 {
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;

    container-type: inline-size;
    scrollbar-gutter: stable;
}

.popup-long-title-n-des {
    width: 100%;
    flex-grow: 1;
    padding: 30px;
    box-sizing: border-box;
    letter-spacing: 0.05rem;
    line-height: 1.625;
}

.popup-long-title-n-des h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 27px;
}

.popup-long-title-n-des p {
    margin: 0;
    font-size: 20px;
}

.popup-content-metrics {
    width: 100%;
    /* height: 80px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: auto;
    padding: 15px 0;

    margin-bottom: 20px;
}

.metric-box {
    border-radius: 0.75rem;
    /* height: 80%; */
    width: 40%;
    background-color: rgb(236, 238, 241);
    border: 1px solid rgb(193, 200, 194);
    display: flex;
    flex-direction: column;
    /* padding-top: 5px;
    padding-left: 20px; */

    padding: 12px 20px;

    box-sizing: border-box;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.metric-label {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.metric-value {
    display: flex;
    height: 32px;
    /* margin-top: auto;
    margin-bottom: auto; */

    margin-top: 8px;
}

.metric-symbol-svg {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.metric-value-text {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    padding-left: 15px;
    letter-spacing: 0.05rem;
}


.popup-customization-panel {
    border-top: 1px solid rgb(193, 200, 194);
    width: 100%;
    height: 7vh;
    background-color: rgb(242, 244, 247);
    flex-shrink: 0;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-container {
    /* height: 50px; */
    height: 6vh;
    max-height: 50px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.switch-label {
    letter-spacing: 0.03rem;
}

.switches {
    height: 100%;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    /* padding: 0 6px; */
    padding: 0 0.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    /* gap: 5px; */
    gap: 0.5vh;
}

.border-radius-9999px {
    border-radius: 9999px;
}

.dark-light-mode,
.readability-button,
.font-change-button {
    background-color: white;
    height: 85%;
    border: 0;
}


.dark-light-mode {
    aspect-ratio: 1 /1;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.readability-button {
    aspect-ratio: 1/1;
    border-radius: 7px;
}

/* .readability-button:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 1);
}

.readability-button:hover svg path {
    transition: stroke 0.3s ease;
    stroke: white;
} */

.font-change-button {
    padding: 0 7px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.05rem;
    /* line-height: 16px; */
}

/* .font-change-button:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #1e2638;
    color: white;
} */

/* button highlight */

#is-active-button,
.font-change-button:hover,
.readability-button:hover,
.dark-light-mode:hover {
    background-color: #1e2638;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-light-mode {
    color: black;
}

/* #readability-button-highlight svg path {
    stroke: white;
} */


/* #dark-light-mode-highlight svg path {
    fill: white;
} */

/* button highlight end */

/* #light-mode:hover {
    background-color: #f58b33;
}

#dark-mode:hover {
    background-color: #120690;

}

#dark-mode:hover svg path {
    transition: fill 0.3s ease;
    fill: white;
} */

/* styling when dark mode is on*/

.popup-content-container, .popup-customization-panel {
    transition: background-color 0.5s ease;
}

.popup-content-container.is-dark-mode {
    background-color: #121824;
}

.popup-content-container.is-dark-mode p {
    color: #f8fafc;
}

.popup-content-container.is-dark-mode h2 {
    color: #00f0ff;
}

.popup-content-container.is-dark-mode .metric-box {
    background-color: #1e2638;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
}

.popup-content-container.is-dark-mode .metric-label {
    color: #94a3b8;
}

.metric-box .metric-value {
    color: #1e2638;
    /* color: red; */
    /* Default Light Mode color */
}

.popup-content-container.is-dark-mode .metric-box .metric-value {
    color: #94a3b8;
    /* Universal Dark Mode color for whatever inside metric-value */
}

.popup-customization-panel.is-dark-mode {
    background-color: #0f131e;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.popup-customization-panel.is-dark-mode .switches {
    background-color: rgba(255, 255, 255, 0.2);
}

.popup-customization-panel.is-dark-mode .switch-label {
    color: white;
}

.is-dark-mode .popup-banner-image-credit-link:hover {
    color: #ffffff;
}

/* Font toggle */

/* The Technical Monospace (Data & Metrics Focus) */
.popup-long-title-n-des.font-mono {
    font-family: 'SFMono-Regular', Consolas, monospace;
}

.popup-long-title-n-des.font-serif {
    font-family: Iowan Old Style, Baskerville, serif;
}

.popup-long-title-n-des.font-comic {
    font-family: 'Comic Sans MS', 'Chalkboard SE', cursive, sans-serif;
}

.popup-long-title-n-des.font-readable {
    letter-spacing: 0.1rem;
    line-height: 1.8;
}